body{
    margin: 0;
    font-family: 'Times New Roman', 'Arial Narrow', sans-serif;
    background: linear-gradient(90deg, grey, white, grey);
}

#header, #hero, #testimony, #trademark{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#header{
    background: lightgrey;
    justify-content: space-between;
    position: fixed;
    width: 100vw;

}
#logo{
    margin-left: 30px;
    width: 30px;
    height: auto;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-right: 25px;
}

#hero{
    background: blue;
    color: white;
    padding-top: 50px;
}
#hero_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 75vw;
    background-color: brown;
}
.info{
    margin: 25px;
    display: block;
    margin-block: 3em;
}
#display_image{
    width: 300px;
    height: auto;
}

#main_content{

    display: block;
    text-align: center;
}
#content_body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content{
    margin: 25px;
}
.product{
    width: 150px;
    height: auto;
    border: 5px solid cyan;
    border-radius: 25px;
}

#testimony{
    background: darkslategrey;
    color: white;
    display: block;
    text-align: center;
    padding: 150px;
}
#attribution{
    padding-left: 50px;
}

#sign_up{
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 100px;
}


#trademark{
    background: purple;
    color: white;
}

.button{
    background: green;
    color: white;
    border-radius: 10px;
}
